extends ../layouts/application.pug

block header
  = t('layouts.application.statuses')

block content
  a.btn.btn-primary(href=route('newStatus'))= t('views.statuses.actions.createStatus')
  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead 
        tr
          th= t('views.common.id')
          th= t('views.common.name')
          th= t('views.statuses.createdAt')
          th= t('views.statuses.head')
      tbody
        each status in statuses
          tr 
            td= status.id
            td= status.name
            td= formatDate(status.createdAt)
            td.d-flex.flex-wrap
              a.btn.btn-primary.me-1(href=`/statuses/${status.id}/edit`)= t('views.actions.edit')
              form(action=`statuses/${status.id}` method='post') 
                input(name='_method', type='hidden', value='delete')
                input(class='btn btn-danger', type='submit', value=t('views.actions.delete'))
